.sidebar-container {
  position: fixed;
  width: 220px;
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f5f5f5;
  color: #212529;
  z-index: 0;
}

.sidebar-logo {
  padding: 15px 15px 15px 35px;
  font-size: 20px;
  background-color: #e6aa5c;
  position:fixed;
  top:0;
  width:100%;
  height:60px;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #212529;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active, .sidebar-navigation li a:hover, .sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.current-page {
  background-color: #e6aa5c;
  color: #f5f5f5;
}

.sidebar-navigation li::before {
  background-color: #e6aa5c;
  color: #f5f5f5;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color:#f5f5f5;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
  width: inherit;

}

th.bg-orange:nth-child(1), th.bg-orange:nth-child(2), th.bg-orange:nth-child(3) {
  background-color: rgb(230, 170, 92);
  color:#f5f5f5;
}

.text-orange {
  color: #e6aa5c;
}

#home-link {
  color: white;
}
.container-fluid{

width:100%;
margin-top:60px;/*height of header*/
min-height: calc(100vh - 225px)

}
@media(min-width:768px) {
  .footer {
    z-index: 1;
    font-size: .8em;
   
    line-height: 30px;

    /* Vertically center the text there */
    background-color:  #212529;
width: 100%;
color:#f5f5f5;
padding-left: 220px ;
margin:0 auto;
  }

}

@media(max-width:768px) {
  .footer {
    display: none
  }
}

